body {

	font family: Arial;
	background-color: #D8CAA8;
	color: #363942;
	}
	
h1{
	color: rgb(92,131,47);
	background-color:#363942;

	}	
h2 {
	color: #382513;
	background-color:#5C832F;
	}
ol{
	background-color: rgb(54,57,66);
	opacity:0.4;

}

	