body {

	font family: Arial;
	text-align: justify;
	background-color: #D8CAA8;
	color: #363942;
	}
	
h1{
	font-family: 'Andada', serif;
	color: rgb(92,131,47);
	background-color:#363942;

	}	
h2 {
	font-family: 'Andada', serif;
	color: #382513;
	background-color:#5C832F;
	}
ol{
	background-color: rgb(54,57,66);
	opacity:0.4;

}

p.one{
	font-style:italic;

}